
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(215, 235, 235);
}

#main {
    display: flex;
    justify-content: center;
}

.container {
    padding: 60px;
    display: flex;
    flex-wrap: wrap;
    width: 960px;
    height: 640px;
}

.new-container {
    padding: 60px;
    display: flex;
    flex-wrap: wrap;
    width: 960px;
    height: 640px;
}

.grid {
    width: calc(100% / 16);
    height: calc(100% / 16);
    border: solid 1px;
}

#reset {
    display: flex;
    width: 60px;
    height: 40px;
    justify-content: center;
    align-items: center;
    font: 900;
}